<div class="array">

  <div class="item" *ngFor="let data of arrays; let i = index">
      
    <div class="block1">
      <div *ngIf=" toShortForm(data.time) !== jstoday && toShortForm(data.time) !== jsyesterday ">{{ data.time * 1000 | date:'d MMMM y' }}</div>
      <div *ngIf=" toShortForm(data.time) === jstoday ">Today</div>
      <div *ngIf=" toShortForm(data.time) === jsyesterday ">Yesterday</div>
    </div>
    <div class="block2">
      <p class="event">
        {{ data.name }}
      </p>
      <div class="time">
        {{ data.time * 1000 | date:'h:mm a'}}
      </div>
    </div>

  </div>

</div>
